html, body {
  background: #EAEAEA;
  font-family: math;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: 0.3s;
}

#overlay.active {
  display: block;
}

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.title {
  color: #818181;
  font-size: 50px;
  font-weight: 700;
  margin: 10px 0;
}

.search_container {
  padding: 20px 0;
  width: 50%;
}

.search_container #search_bar {
  width: 100%;
  padding: 20px 0;
  border-radius: 40px;
  color: #818181;
  font-size: 20px;
  border: 2px solid #b9b8b8;
}

#search_bar::placeholder {
  padding: 20px;
}

.search_container #search_bar:focus {
  border: 2px solid #818181;
  outline: unset;
}


.textarea_container {
  padding: 20px 0;
  width: 80%;
}

.textarea_container #title {
  width: 100%;
  min-width: 100%;
  border-radius: 5px;
  height: 60px;
  color: #818181;
  font-size: 20px;
  border: 2px solid #b9b8b8;
  font-family: math;
  box-shadow: 0px 8px 10px 0px #92919150;
  margin-bottom: 30px;
}

.textarea_container #description {
  width: 100%;
  min-width: 100%;
  border-radius: 5px;
  height: 300px;
  color: #818181;
  font-size: 20px;
  border: 2px solid #b9b8b8;
  font-family: math;
  box-shadow: 0px 8px 10px 0px #92919150;
}

#title::placeholder,
#description::placeholder {
  padding: 20px;
}

.textarea_container #title:focus,
.textarea_container #description:focus {
  border: 2px solid #818181;
  outline: unset;
}

.textarea_container .color_select_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 65px;
}

.select_colors {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin-left: 20px;
}

.select_colors .color {
  display: none;
}


.color + label.color_label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.color + label.color_label span {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 35px;
}

.color + label.color_label span img {
  opacity: 0;
  transition: all .3s ease;
}

#color_pink + label.color_label span {
  background-color: #F06291;
}

#color_purple + label.color_label span {
  background-color: #BA68C8;
}

#color_yellow + label.color_label span {
  background-color: #FED54E;
}

#color_blue + label.color_label span {
  background-color: #50C2F7;
}

#color_green + label.color_label span {
  background-color: #AED580;
}

#edit_color_pink + label.color_label span {
  background-color: #F06291;
}

#edit_color_purple + label.color_label span {
  background-color: #BA68C8;
}

#edit_color_yellow + label.color_label span {
  background-color: #FED54E;
}

#edit_color_blue + label.color_label span {
  background-color: #50C2F7;
}

#edit_color_green + label.color_label span {
  background-color: #AED580;
}

.color:checked + label.color_label span img {
  opacity: 1;
}

.textarea_container .add_color button {
  cursor: pointer;
  background-color: #44C867;
  color: white;
  border: 1px solid #2c8343;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  margin-right: 20px;
}

.list_container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.list_container .note {
  position: relative;
  padding: 10px;
  box-shadow: 0px 8px 10px 0px #92919150;
  border-radius: 5px;
  color: #3a3a3a;
  margin-top: 20px;
}

.list_container .note .note_title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.list_container .note .note_description {
  margin-bottom: 55px;
  max-height: 200px;
  overflow-y: scroll;
}

.list_container .note .note_buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.list_container .note .note_buttons button {
  margin-left: 10px;
  background: transparent;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
}

.list_container .note .note_buttons button svg {
  width: inherit;
  height: inherit;
  color: #3a3a3a;
}

.list_container .note .note_buttons button svg:hover {
  color: #818181;
}

.edit_popup_form {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.edit_popup_form textarea {
  width: 100%;
  min-width: 100%;
  border-radius: 5px;
  min-height: 60px;
  color: #3a3a3a;
  font-size: 20px;
  border: 2px solid #b9b8b8;
  font-family: math;
  box-shadow: 0px 8px 10px 0px #92919150;
  margin-bottom: 30px;
}

.edit_popup_form .color_select_area {
  margin-bottom: 20px;
}

.edit_popup_form .color_select_area .select_colors {
  margin-left: 0;
}

.edit_popup_form .edit_note_button .edit,
.edit_popup_form .edit_note_button .cancel {
  cursor: pointer;
  color: white;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  float: right;
}

.edit_popup_form .edit_note_button .edit {
  background-color: #d38e1f;
  border: 1px solid #976515;
}

.edit_popup_form .edit_note_button .cancel {
  background-color: #ab1616;
  border: 1px solid #6c0d0d;
  margin-right: 15px;
}

.edit_success_popup {
  position: fixed;
  width: 50%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 2s;
  background-color: #abe6ba;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 25px;
  font-weight: 600;
  color: #707070;
}

#error_popup {
  display: none;
  position: fixed;
  width: 50%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 2s;
  background-color: #f69d9d;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 25px;
  font-weight: 600;
  color: #707070;
}

#error_popup.active {
  display: block;
}